# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
node_modules/
client/dist/bundle.js
config.js
package-lock.json
coverage/
test-review.js
package.json
client/dist/client_src_components_Review_Review_jsx.bundle.js
client/dist/client_src_components_Related_Related_jsx.bundle.js
client/dist/client_src_components_QA_QA_jsx.bundle.js
client/dist/client_src_components_Overview_Overview_jsx.bundle.js
client/dist/vendors-node_modules_react-router-dom_index_js.bundle.js
client/dist/client_src_star_jsx.bundle.js
client/src/.DS_Store
.env
.DS_Store
FEC.pem
